@model IEnumerable<EatDrinkApplication.Models.Recipe>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeCookLayout.cshtml";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>Foods</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Recipe recipe in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => recipe.title)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@recipe.id">Details</a> 
            </td>
        </tr>
        }
    </tbody>
</table>
