@model EatDrinkApplication.Models.ShoppingCart
@{
    ViewData["Title"] = "ViewCart";
    Layout = "~/Views/Shared/_HomeCookLayout.cshtml";
}
@if (Model != null)
{
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Cart</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => Model.Items)
                    </td>
                </tr>
            </tbody>
        </table>
        <a asp-action="DeleteCart" asp-route-id="@Model.ShoppingCartId">Remove Items From Cart</a>
    </div>
}
@if(Model == null)
{
    <h1>NO ITEMS IN CART</h1>
}


