@model EatDrinkApplication.ViewModel.CocktailViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="SelectedIngredient" class="form-control" asp-items="@Model.Ingredients"></select>
            </div>
            <span asp-validation-for="SelectedIngredient" class="text-danger"></span>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Drinks
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Drink drink in Model.Cocktail.drinks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => drink.strDrink)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@drink.idDrink">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
